@charset "utf-8";
/* CSS Document */

html, body{width:100%; height:100%;}

#section{width:100%; height:100%; background-color:#eee
}

#titre
{
	background-color:#fff;
	border-bottom:1px solid #ffcb08;
}

#principal{
	background-color:#fff;
	text-align:center;
}

h1
{
	color:#005aab;
	margin:10px auto 0 auto;
	font-weight:900;
}
.soustitre
{
	color:#005aab;
  font-size:14px;
  font-weight:bold;
}



/*CARRE*/
#map {

  font-size:0;
  display:inline-block;
  vertical-align:top;  
}
.mapart {
  font-size:16px;
  font-size:2vw;
  width:33.33%;
  display:inline-block;
  background:#005AAB;  
  	color:#FFCB08;
	transition: border linear 0.4s;

  	border:6px solid #fff;
	opacity:0.95
}

.mapart:hover {
transition: all linear 0.4s;
border:1px solid #fff;
opacity:1;
}


.mapart:before {
  content:'';
  display:inline-block;
  width:0;
  vertical-align:middle;
  padding:50% 0;
}

#carre1
{
	background:url(../images/1-assurance-vie.gif) no-repeat;
	background-size:cover;
}

#carre2
{
	background:url(../images/2-credit.gif) no-repeat;
	background-size:cover;
}
#carre3
{
	background:url(../images/3-epargne-salariale.gif) no-repeat;
	background-size:cover;
}#carre4
{
	background:url(../images/4-immobilier-defisc.gif) no-repeat;
	background-size:cover;
}
#carre5
{
	background:url(../images/5-impots.gif) no-repeat;
	background-size:cover;
}#carre6
{
	background:url(../images/6-prevoyance-sante.gif) no-repeat;
	background-size:cover;
}
#carre7
{
	background:url(../images/7-epargne-retraite.gif) no-repeat;
	background-size:cover;
}#carre8
{
	background:url(../images/8-transmission.gif) no-repeat;
	background-size:cover;
}
#carre9
{
	background:url(../images/9-valeurs-mobilieres.gif) no-repeat;
	background-size:cover;
}

.casebleue
{
	background-color:#005AAB;
	color:#FFCB08;
	border:2px solid #fff;
}


#acces
{
	width:100%;
	padding:10px;
}

#acces:hover
{
	background-color:#FFCB08
}



#acces h4
{
	color:#005AAB;
	font-size:24px;
	font-weight:bold;
}
#map p
{font-size:12px;
}
#footer
{
	background-color:#FFCB08;
}

#lienboutique
{float:left;
}
#lienboutique a img
{width:40px
}

#reglages
{float:right;
}
#reglages a img
{width:40px
}


@media screen and (max-width: 767px) {
	
	#map {
  width:90%;
 
}
	
}



/*
.numero
{
	color:#fff;
	text-align:left;
}
*/